.rectangle {
    width: auto;
    height: 95.01320904643597px;
    font-family: Arial;
    font-size: 13.333334px;
    font-weight: 400;
    text-align: center;
    line-height: 18px;
    color: #333333;
    background: linear-gradient(#8D9CF2,#FF8585);
}

.circle {
    width: 82.00000000000011px;
    height: 74.51294025289904px;
    position: absolute;
    left: 528px;
    top: 8px;
    font-family: Arial;
    font-size: 13.333334px;
    font-weight: 400;
    text-align: center;
    line-height: 18px;
    color: #B2B2B2;
    border: 2px dashed #000000;
    border-radius: 50%;
}

#LetterL {
    position: absolute;
    left: 535px;
    top: 10px;
}

#User_icon {
    position: absolute;
    left: 1390.43px;
    top: 30px;
}

#Tittle {
    position: absolute;
    font-family: Arial;
    font-size: 45px;
    top: -20px;
    left: 630.05px;
    color: #333333;
}

#Log_in {
    width: 96.44140625px;
    height: 21.0px;
    font-family: Arial;
    font-size: 18.666668px;
    font-weight: 700;
    color: #000000;
    position: absolute;
    left: 1449.433px;
    top: 10px;
}

#text_1 {
    height: 21.0px;
    font-family: Arial;
    font-size: 18.666668px;
    font-weight: 400;
    color: #000000;
    position: absolute;
    left: 1449.433px;
    top: 34px;
}

#Search_textbox {
    width: 462.2120465041146px;
    height: 47.0px;
    font-family: Arial;
    font-size: 18px;
    color: #666666;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 0px;
    padding-top: 1px;
    padding-right: 16px;
    padding-bottom: 1px;
    padding-left: 41px;
    position: absolute;
    left: 430px;
    top: 125px;
}

::-webkit-input-placeholder {
    color: #B4B4B4;
}

#Search_button {
    width: 241.2505113563641px;
    height: 51px;
    font-family: Arial;
    font-size: 20.0px;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
    background-color: #282828;
    border: 0px solid #404040;
    border-radius: 0px;
    position: absolute;
    left: 932.37px;
    top: 125px;
}

    #Search_button:hover {
        cursor: pointer;
        background-color: #444444;
    }

#Cart_image {
    width: 35.0px;
    height: 36.00000000000006px;
    border: 1px solid #000000;
    position: absolute;
    left: 1439.43px;
    top: 131px;
}

#Cart_number {
    width: 25px;
    height: 20px;
    font-family: Arial;
    font-size: 13.333334px;
    font-weight: 400;
    text-align: center;
    line-height: 18px;
    color: #FFFFFF;
    background-color: #FF0000;
    position: absolute;
    left: 1455px;
    top: 105px;
    border-radius: 50%;
}

#Cart_text {
    width: 63.550785064697266px;
    height: 16.0px;
    font-family: Arial;
    font-size: 14.666667px;
    font-weight: 700;
    color: #000000;
    background-color: #FFFFFF;
    position: absolute;
    left: 1493.72px;
    top: 126px;
}

.dropbtn {
    width: 242.78373603646534px;
    height: 59.999999999999886px;
    font-family: Arial;
    font-size: 17.333334px;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
    background-color: #282828;
    border: 0px solid #404040;
    border-radius: 0px;
}

.dropdown {
    position: absolute;
    display: inline-block;
    left: 64.32px;
    top: 204px;
}

.dropdown-content {
    font-family: Arial;
    font-size: 17.333334px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 242.78373603646534px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: #f1f1f1;
        }

            .dropdown-content a:hover + #Laptop_Gaming_Content {
                display: block;
            }

            .dropdown-content a:hover + #Laptop_VP_Content {
                display: block;
            }

            .dropdown-content a:hover + #Laptop_SV_Content {
                display: block;
            }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #444444;
}

#Laptop_Gaming_Content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#Laptop_Gaming_Content {
    text-decoration: none;
    left: 245px;
    top: 0px;
    font-family: Arial;
    font-size: 17.333334px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 112px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
    line-height: 1.6;
}

    #Laptop_Gaming_Content a:hover {
        background-color: #f1f1f1;
    }

    #Laptop_Gaming_Content:hover {
        display: block;
    }

#Laptop_VP_Content {
    text-decoration: none;
    left: 245px;
    top: 44px;
    font-family: Arial;
    font-size: 17.333334px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 112px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
    line-height: 1.6;
}

    #Laptop_VP_Content a:hover {
        background-color: #f1f1f1;
    }

    #Laptop_VP_Content:hover {
        display: block;
    }

#Laptop_SV_Content {
    text-decoration: none;
    left: 245px;
    top: 88px;
    font-family: Arial;
    font-size: 17.333334px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 112px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
    line-height: 1.6;
}

    #Laptop_SV_Content a:hover {
        background-color: #f1f1f1;
    }

    #Laptop_SV_Content:hover {
        display: block;
    }

#Ban_Hang {
    text-decoration: none;
    width: 242.03796469648415px;
    height: 58px;
    font-family: Arial;
    font-size: 17.333334px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    background-color: #CBCBCB;
    border: 1px solid #0487D9;
    position: absolute;
    left: 308px;
    top: 204px;
}

    #Ban_Hang:hover {
        font-weight: bold;
    }

#Bao_Hanh {
    text-decoration: none;
    width: 242.03796469648415px;
    height: 58px;
    font-family: Arial;
    font-size: 17.333334px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    background-color: #CBCBCB;
    border: 1px solid #0487D9;
    position: absolute;
    left: 552.7px;
    top: 204px;
}

    #Bao_Hanh:hover {
        font-weight: bold;
    }

#Van_Chuyen {
    text-decoration: none;
    width: 242.03796469648415px;
    height: 58px;
    font-family: Arial;
    font-size: 17.333334px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    background-color: #CBCBCB;
    border: 1px solid #0487D9;
    position: absolute;
    left: 797.23px;
    top: 204px;
}

    #Van_Chuyen:hover {
        font-weight: bold;
    }

#Khuyen_Mai {
    text-decoration: none;
    width: 242.03796469648415px;
    height: 58px;
    font-family: Arial;
    font-size: 17.333334px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    background-color: #CBCBCB;
    border: 1px solid #0487D9;
    position: absolute;
    left: 1041.9px;
    top: 204px;
}

    #Khuyen_Mai:hover {
        font-weight: bold;
    }

#Cham_Soc {
    text-decoration: none;
    width: 242.03796469648415px;
    height: 58px;
    font-family: Arial;
    font-size: 17.333334px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    background-color: #CBCBCB;
    border: 1px solid #0487D9;
    position: absolute;
    left: 1287px;
    top: 204px;
}

    #Cham_Soc:hover {
        font-weight: bold;
    }

#header {
    width: 100%;
    background: #f00;
}

body {
    width: 1579px;
    padding: 0;
    margin: 0;
}

#logo_footer {
    width: 82.00000000000011px;
    height: 74.51294025289904px;
    font-family: Arial;
    font-size: 13.333334px;
    font-weight: 400;
    text-align: center;
    line-height: 18px;
    color: #B2B2B2;
    border: 2px dashed #000000;
    border-radius: 50%;
    position: absolute;
    top: 2120px;
    left: 111.5px;
}

#text1_ft {
    width: 195.36803013185664px;
    height: 16.0px;
    font-family: Arial;
    font-size: 14.0px;
    font-weight: 500;
    color: #666666;
    position: absolute;
    top: 2108px;
    left: 352px;
}
#text2_ft {
    width: 195.36803013185664px;
    height: 16.0px;
    font-family: Arial;
    font-size: 14.0px;
    font-weight: 500;
    color: #666666;
    position: absolute;
    top: 2108px;
    left: 617px;
}
#text3_ft {
    width: 195.36803013185624px;
    height: 16.0px;
    font-family: Arial;
    font-size: 14.0px;
    font-weight: 500;
    color: #666666;
    position: absolute;
    top: 2108px;
    left: 887px;
}
#text4_ft {
    width: 195.36803013185624px;
    height: 16.0px;
    font-family: Arial;
    font-size: 14.0px;
    font-weight: 500;
    color: #666666;
    position: absolute;
    top: 2108px;
    left: 1186px;
}
#text5_ft {
    width: 173.48681075708856px;
    height: 91.99999999999955px;
    font-family: Arial;
    font-size: 13.333334px;
    line-height: 22px;
    color: #B2B2B2;
    position: absolute;
    top: 2132px;
    left: 352px;
}
#text6_ft {
    width: 173.48681075708856px;
    height: 91.99999999999955px;
    font-family: Arial;
    font-size: 13.333334px;
    line-height: 22px;
    color: #B2B2B2;
    position: absolute;
    top: 2132px;
    left: 617px;
}
#Email_textbox {
    width: 346.2918966478908px;
    height: 29.999999999999545px;
    font-family: Arial;
    font-size: 12.0px;
    color: #B2B2B2;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 0px;
    padding-top: 1px;
    padding-right: 6px;
    padding-bottom: 1px;
    padding-left: 11px;
    position: absolute;
    left: 1186px;
    top: 2150px;
}

#FB_ft {
    position: absolute;
    top: 2150px;
    left: 887px;
}

#IG_ft {
    position: absolute;
    top: 2150px;
    left: 937px;
}

#ImgProduct1{
width: 283.0580959134119px;
height: 303.5170789858498px;
position:relative;
left:270px;
top:240px;
}

#ImgProduct1:hover {
    opacity: 0.7;
}

#Star_Product{
width: 16.632320188319113px;
height: 17.07994931785595px;
position:relative;
left:200px;
top:180px;
}

#Review1{
width: 130.69921875px;
height: 27.0px;
font-family: Arial;
font-size: 18.0px;
font-weight: 400;
color: #999999;
position:relative;
left:490px;
top:225px;
}


#Product1_text {
    width: 266.8359375px;
    font-family: Arial;
    font-size: 20.0px;
    font-weight: 400;
    text-align: left;
    color: #333333;
    position: relative;
    left: 350px;
    top: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4; /* number of lines to show */
    line-height: 20px; /* fallback */
    max-height: 80px; /* fallback */
}


#Price_new1{
width: 147.14842224121094px;
height: 90.0px;
font-family: Arial;
font-size: 26.666668px;
font-weight: 400;
text-decoration: line-through;
color: #333333;
background-color: #FFFFFF;
position:relative;
left: 390px;
top:170px;
}

#Price_old1{
width: 147.14842224121094px;
height: 90.0px;
font-family: Arial;
font-size: 26.666668px;
font-weight: 400;
color: #FF0000;
background-color: #FFFFFF;
position:relative;
left: 390px;
top:90px;
}

#Previous{
width: 15px;
height: 15px;
position:absolute;
left: 765px;
top:871px;
}

#Next{
width: 15px;
height: 15px;
position:absolute;
left: 980px;
top:871px;
}

#Page1{
width: 140.08203125px;
height: 21.0px;
font-family: Arial;
font-size: 18.666668px;
font-weight: 400;
color: #282828;
position:absolute;
left: 800px;
top:850px;
}

#Page2{
width: 140.08203125px;
height: 21.0px;
font-family: Arial;
font-size: 18.666668px;
font-weight: 400;
color: #999999;
position:absolute;
left: 830px;
top:850px;
}

#Page3{
width: 140.08203125px;
height: 21.0px;
font-family: Arial;
font-size: 18.666668px;
font-weight: 400;
color: #999999;
position:absolute;
left: 860px;
top:850px;
}

#Page4{
width: 140.08203125px;
height: 21.0px;
font-family: Arial;
font-size: 18.666668px;
font-weight: 400;
color: #999999;
position:absolute;
left: 890px;
top:850px;
}

#Page5{
width: 140.08203125px;
height: 21.0px;
font-family: Arial;
font-size: 18.666668px;
font-weight: 400;
color: #999999;
position:absolute;
left: 920px;
top:850px;
}

#Page6{
width: 140.08203125px;
height: 21.0px;
font-family: Arial;
font-size: 18.666668px;
font-weight: 400;
color: #999999;
position:absolute;
left: 950px;
top:850px;
}

#Price1 {
width: 117.65625px;
height: 22.0px;
font-family: Arial;
font-size: 20.0px;
font-weight: 400;
color: #333333;
position:absolute;
left: 80px;
top:265px;
}

#Price2 {
width: 182.353515625px;
height: 22.0px;
font-family: Arial;
font-size: 20.0px;
font-weight: 400;
color: #333333;
position:absolute;
left: 80px;
top:305px;

}

#Price3 {
width: 182.353515625px;
height: 22.0px;
font-family: Arial;
font-size: 20.0px;
font-weight: 400;
color: #333333;
position:absolute;
left: 80px;
top:345px;

}

#Price4 {
width: 113.388671875px;
height: 22.0px;
font-family: Arial;
font-size: 20.0px;
font-weight: 400;
color: #333333;
position:absolute;
left: 80px;
top:385px;

}

.Footer{
position:relative;
top: -600px;
}

.TimKiemSP {
    position: absolute;
    top: 50px;
}

.CheckBox_TimKiemSP {
    position: absolute;
    top: 50px;
}

#Hello_Text {
    font-family: Arial;
    font-size: 16px;
    color: #000000;
    position: absolute;
    left: 1442.433px;
    top: 14px;
}

#Button_LogOut {
    font-family: Arial;
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    position: absolute;
    left: 1442.433px;
    top: 53px;
    text-decoration: none;
}

    #Button_LogOut:hover {
        color: darkblue;
    }

.DS_TimKiem {
    float: left;
    width: 400px; /* bề rộng  */
    height: 600px;
    display: block;
    text-align: center;
}

#Search_Result {
    width: 1500px;
    position: absolute;
    font-family: Arial;
    font-size: 24px;
    top: 215px;
    left: 62px;
}

.ul.pagination {
    display: inline-block;
    position: absolute;
    padding: 0;
    margin: 0;
}

ul.pagination li {
    display: inline;
}

    ul.pagination li a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
    }

.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #87a8d0;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
}

ul.pagination li a:hover:not(.active) {
    background-color: #ddd;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #87a8d0;
    border-color: #87a8d0;
}

.pagination {
    font-family: Arial;
    font-size: 16px;
    width: 700px;
    position: relative;
    top: 110px;
    left: 390px;
    z-index: -1;
}

#Page_Count {
    position: relative;
    top: 105px;
    left: 440px;
}

.myActionlink {
    text-decoration: none;
    color: black;
}

.myActionlink:hover {
    color: blue;
}



