body {
    margin: 0;
    padding: 0;
}

#Logo_Header {
    width: 99.00000000000011px;
    height: 73.99999999999989px;
    position: absolute;
    top: 49px;
    left: 513px;
}

#Text_Header {
    width: 466.15625px;
    height: 73.0px;
    font-family: 'UTM Avo';
    font-size: 64.0px;
    font-weight: 400;
    color: #000000;
    position: absolute;
    top: -15px;
    left: 638.88px;
}

#Product_SanPham {
    width: 268.17456359102243px;
    height: 64.0px;
    font-family: 'UTM Avo';
    font-size: 21.333334px;
    font-weight: 400;
    text-align: center;
    line-height: 18px;
    color: #333333;
    background: linear-gradient(#FEADB9,rgba(188,133,163,0.5));
    border: 1px solid #000000;
    position: absolute;
    top: 136px;
    left: 136.35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#Product_DonHang {
    width: 268.1745635910226px;
    height: 64.0px;
    font-family: 'UTM Avo';
    font-size: 21.333334px;
    font-weight: 400;
    text-align: center;
    line-height: 18px;
    color: #333333;
    background: linear-gradient(#BC85A3,rgba(151,153,186,0.5));
    border: 1px solid #000000;
    position: absolute;
    left: 406px;
    top: 136px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#Product_KhachHang {
    width: 268.17456359102243px;
    height: 64.0px;
    font-family: 'UTM Avo';
    font-size: 21.333334px;
    font-weight: 400;
    text-align: center;
    line-height: 18px;
    color: #333333;
    background: linear-gradient(#FEADB9,rgba(188,133,163,0.5));
    border: 1px solid #000000;
    position: absolute;
    left: 675px;
    top: 136px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#Product_DoanhThu {
    width: 268.17456359102243px;
    height: 64.0px;
    font-family: 'UTM Avo';
    font-size: 21.333334px;
    font-weight: 400;
    text-align: center;
    line-height: 18px;
    color: #333333;
    background: linear-gradient(#FEADB9,rgba(188,133,163,0.5));
    border: 1px solid #000000;
    position: absolute;
    left: 944px;
    top: 136px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#Product_TaiKhoan {
    width: 268.17456359102243px;
    height: 64.0px;
    font-family: 'UTM Avo';
    font-size: 21.333334px;
    font-weight: 400;
    text-align: center;
    line-height: 18px;
    color: #333333;
    background: linear-gradient(#FEADB9,rgba(188,133,163,0.5));
    border: 1px solid #000000;
    position: absolute;
    left: 1213px;
    top: 136px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.Header {
    position:absolute;
    left: -15px;
    top: 0px;
}

#Footer_Text {
    width: 309.8372802734375px;
    height: 103.99999999999955px;
    font-family: 'UTM Avo';
    font-size: 18.666668px;
    font-weight: 400;
    text-align: center;
    line-height: 28px;
    color: #1EAAF1;
    position: absolute;
    left: 645.08px;
    top: 972px;
}

#rectangle {
    width: 1345px;
    height: 42.99999999999977px;
    font-family: 'UTM Avo';
    font-size: 13.333334px;
    font-weight: 400;
    text-align: center;
    color: #333333;
    background: linear-gradient(#F9E1E0,#FFFFFF);
    position: absolute;
    top: 265px;
    left: 136.35px;
}

#Img_DH {  
    width: 200px;
    height: 200px;
    position: absolute;
    top: 320px;
    left: 136.35px;
}

#Back {
    width: 71.67100694444525px;
    height: 64.00000000000023px;
    position: absolute;
    top: 900px;
    left: 1038.93px;
}

#CTDonHang {
    font-family: 'UTM Avo';
    font-size: 18.0px;
    position: absolute;
    top: 350px;
    left: 900px;
}

#text_TTKH {
    width: 480.29296875px;
    height: 135.0px;
    font-family: 'UTM Avo';
    font-size: 18.0px;
    font-weight: 400;
    color: #000000;
    position: absolute;
    top: 350px;
    left: 459.69px;
}

#txt_TenSP {
    width: 600px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    white-space: nowrap
}

html {
    font-family: 'UTM Avo';
}


table {
    position: relative;
    top: 600px;
    left: 240px;
    font-size: 18px;
    table-layout: fixed;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}


th {
    background-color: #FEADB9;
    color: white;
}

#text_TenSP {
    width: 35.91904055632212%;
    height: 100.00000000000011%;
    font-family: 'UTM Avo';
    font-size: 18.666668px;
    font-weight: 400;
    color: #000000;
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    padding-left: 12px;
}

#text_SL {
    width: 13.136674884050981%;
    height: 100.00000000000011%;
    font-family: 'UTM Avo';
    font-size: 13.333334px;
    font-weight: 400;
    text-align: center;
    color: #333333;
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    padding-left: 12px;
}

#text_DonGia {
    width: 18.528661485475695%;
    height: 100.00000000000011%;
    font-family: 'UTM Avo';
    font-size: 18.666668px;
    font-weight: 400;
    text-align: center;
    color: #333333;
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    padding-left: 12px;
}

#text_ChietKhau {
    width: 13.886961588675515%;
    height: 100.00000000000011%;
    font-family: 'UTM Avo';
    font-size: 18.666668px;
    font-weight: 400;
    text-align: center;
    color: #333333;
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    padding-left: 12px;
}

#text_ThanhTien {
    width: 18.528661485475695%;
    height: 100.00000000000011%;
    font-family: 'UTM Avo';
    font-size: 18.666668px;
    font-weight: 400;
    text-align: center;
    color: #333333;
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    padding-left: 12px;
}

#TongTien {
    font-family: 'UTM Avo';
    font-size: 24.0px;
    font-weight: 400;
    color: #000000;
    position: absolute;
    top: 757px;
    left: 1092.89px;
}


#TinhTrangDH {

    position: absolute;
    top: 802px;
    left: 290px;
}

#Log_in {
    width: 96.44140625px;
    height: 21.0px;
    font-family: 'UTM Avo';
    font-size: 18.666668px;
    font-weight: 700;
    color: #000000;
    position: absolute;
    left: 1360px;
    top: 60px;
}

    #Log_in:hover {
        color: #BC85A3;
    }

#Button_LogOut {
    width: 88px;
    font-family: 'UTM Avo';
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    position: absolute;
    left: 1360px;
    top: 95px;
    text-decoration: none;
}

    #Button_LogOut:hover {
        color: darkblue;
    }

#User_icon {
    position: absolute;
    left: 1300.43px;
    top: 70px;
}

#Hello_Text {
    width: 200px;
    font-family: 'UTM Avo';
    font-size: 16px;
    color: #000000;
    position: absolute;
    left: 1360px;
    top: 55px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
}

#txt_MaSP {
    text-align: center;
}

#txt_SL {
    text-align: center;
}

#txt_ChietKhau {
    text-align: center;
}

#button_Edit {
    width: 145.93363596217773px;
    height: 55.304347826086996px;
    font-family: 'UTM Avo';
    font-size: 21.333334px;
    background: linear-gradient(#FEADB9,rgba(188,133,163,0.5));
    border: 1px solid #000000;
    border-radius: 20px;
    position: absolute;
    top: 900px;
    left: 136.35px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
}

    #button_Edit:hover {
        background-image: linear-gradient(#BC85A3,rgba(151,153,186,0.5));
    }


#button_Delete {
    width: 145.93363596217773px;
    height: 55.304347826086996px;
    font-family: 'UTM Avo';
    font-size: 21.333334px;
    text-align: center;
    line-height: 18px;
    color: #333333;
    background: linear-gradient(#FEADB9,rgba(188,133,163,0.5));
    border: 1px solid #000000;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 900px;
    left: 1292.89px;
    cursor: pointer;
}

    #button_Delete:hover {
        background-image: linear-gradient(#BC85A3,rgba(151,153,186,0.5));
    }
