@model IEnumerable<Test.Models.HangSP>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_QT_ThemHangSP.cshtml";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th id="Table_Header">
            Hãng sản phẩm
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <p id="Name_HangSP">
                    @Html.DisplayFor(modelItem => item.TenHang)
                </p>
            </td>
            <td>
                <div id="button_EditHangSP">
                    @Html.ActionLink("Edit", "Edit", new { id = item.MaHang }) 
                </div>
                <div id="button_DeleteHangSP">
                    @Html.ActionLink("Delete", "Delete", new { id = item.MaHang })
                </div>
            </td>
        </tr>

    }

</table>



<div class="Header">

    <a href="https://localhost:44357/QT_TrangChu/Index">
        <img id="Logo_Header"
             src="~/Images/bird.png"
             width="99" />
        <p id="Text_Header">LaptopNganNgo</p>
    </a>

    <p id="Product_SanPham">Sản phẩm</p>
    <p id="Product_DonHang">Đơn hàng</p>
    <p id="Product_KhachHang">Khách hàng</p>
    <p id="Product_DoanhThu">Doanh thu</p>
    <p id="Product_TaiKhoan">Tài khoản</p>

    <span id="rectangle"></span>
</div>
<div class="Footer">
    <footer id="Footer_Text">
        2021
        <br />Powered by Squad Ngáo Ngơ
    </footer>
</div>

<p id="Text">Thêm hãng sản phẩm</p>





<a href="https://localhost:44357/QT_TrangChu/Index"><button id="btn">Quay về</button></a>


