
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/QT_DangKy.cshtml";
}

<div class="Header">
    0
    <img id="Logo_Header"
         src="~/Images/bird.png"
         width="99" />
    <p id="Text_Header">LaptopNganNgo</p>

</div>

<div class="Footer">
    <p id="Footer_Text">
        2021
        <br />Powered by Squad Ngáo Ngơ
    </p>
</div>

<div id="Khung">

    <label id="C1">LaptopNganNgo</label>
    <label id="C2">Đam mê - Trách nhiệm</label>
    <input id="text" type="text" placeholder="Địa chỉ email" required>
    <input id="MK" type="password" placeholder="Mật khẩu" required>
    <input id="NLMK" type="password" placeholder="Nhập lại mật khẩu" required>
    <a href="https://localhost:44357/QT_TrangChu/Index">
        <button id="B1">Đăng ký tài khoản</button>
    </a>

</div>

